
.footer {
    padding: 15px 0;
    border: 1px solid #DEDEDE;
    /* position: relative;
    bottom: 0; */
}

.footercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: auto;
    padding: 0 20px;
    color: #8C8C8C;
    font-size: 14px;
}

.footericons {
    display: flex;
    gap: 15px;
}

.footericons i {
    font-size: 18px;
    color: var(--primary-color); /* Green color */
    cursor: pointer;
    width:24px;
    height: 24px;
}

