@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --primary-color: #1C4A2A;
    --seconday-color: white;
    --third-color: #C6B09A;

    --primary-font: Montserrat;
}