.profileContainer {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #f0f4f8, #ffffff);
    min-height: 100vh;
    height: 100vh; /* Use full viewport height */
    font-family: var(--primary-font);
}

.profileCard {
    width: 100%;
    max-width: 800px;
    border: none;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.profilePhoto {
    width: 150px; /* Increased size */
    height: 150px; /* Increased size */
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 4px solid var(--primary-color);
}

.headerInfo {
    text-align: left;
    flex: 1;
}

.profileName {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.profileSpecialty {
    font-size: 18px;
    color: #666;
    margin-bottom: 5px;
}

.profileLocation {
    font-size: 16px;
    color: #888;
}

.details {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.8;
    color: #444;
}

.details p {
    margin-bottom: 10px;
}

.availability {
    margin-top: 30px;
    text-align: left;
}

.availability h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.availability ul {
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove indentation */
    color: #555;
}

.availability ul li {
    margin-bottom: 5px; /* Add spacing between items */
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.editButton,
.settingsButton {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.editButton {
    background-color: var(--primary-color);
    color: white;
}

.editButton:hover {
    background-color: var(--primary-color);
}

.settingsButton {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ddd;
}

.settingsButton:hover {
    background-color: #e2e6ea;
}

.profileCard::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 150px;
    /* background: linear-gradient(to right, var(--primary-color), #00c6ff); */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: -1;
}
